Q1. Write a program to calculate the electricity bill using only if statement? (accept number of unit from user) according to the following criteria:

Unit                                                                                        Price
First 100 units                                                                             no charge
Next 100 units                                                                              Rs 5 per unit
After 200 units                                                                             Rs 10 per unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
For first 100 no charges
Now you have 250 unit remaining
100-200 you need to pay – 100*5 = 500
Now 200-100 you need to pay 150*10 = 1500
Total = 500+1500 = 2000

In [3]:
user_unit= int(input("enter user unit"))
bill = 0
if user_unit > 100:
    if user_unit >200:
        bill += (user_unit-200)*10
        bill+= 100*5
    else:
        bill+=(user_unit-100)*5
        
print("total electricity is :₹",bill)

enter user unit 860

total electricity is :₹ 7100

Q.2 Write a program to accept percentage from the user and display the grade according to the following criteria:

Marks                       Grade
> 90                          A
> 80 and <= 90                B
>= 60 and <= 80               C
below 60                      D"""

In [13]:
# accept precentage from user 
percentage =float (input("enter your percentage"))
if percentage <0:
    print("invalid input")
elif percentage>100:
    print("invalid input")
elif percentage >90:
    print("grade: A")
    
elif percentage> 80 and percentage <=90:
    print("grade: B") 
    
elif percentage >=60 and percentage <=80:
    print("grade: C")
    
else:
    print("grade: D")

enter your percentage -3

invalid input

# Q3. Accept the age of 4 people and display the youngest one?

In [40]:
age1=int(input("enter age of first person : "))
age2=int(input("enter age of second person: "))
age3=int(input("enter age of third person: "))
age4=int(input("enter age of fourth person: "))
youngest = min(age1, age2, age3, age4 )
print("The youngest age is:",youngest)

enter age of first person :  77
enter age of second person:  45
enter age of third person:  8
enter age of fourth person:  5

The youngest age is: 5

Q4.  A company decided to give bonus to employee according to following criteria:

Time period of Service            Bonus

More than 10 years                 10%

>=6 and <=10                        8%

Less than 6 years                   5%

Ask user for their salary and years of service and print the
net bonus amount?

In [60]:
salary= float(input("enter your salary:"))
years_of_service=int(input("enter your years of service:"))
if years_of_service>10:
    bonus_percentage=10
elif years_of_service >=6 and years_of_service <=10:
    bonus_percentage=8
else:
    bonus_percentage=5
bonus_amount=(bonus_percentage/100)*salary
print("your bonus amount is :",bonus_amount)

enter your salary: 500000
enter your years of service: 7

your bonus amount is : 40000.0

# Q5. Accept three numbers from the user and display the second largest number?

In [ ]:
## A = int(input("Enter first number: "))
B = int(input("Enter second number: "))
C = int(input("Enter third number: "))
second_largest = a
if (a > b and a < c) or (a > c and a < b):
    second_largest = a
elif (b > a and b < c) or (b > c and b < a):
    second_largest = b
else:
    second_largest = c

print("The second largest number is:",second_largest)

Enter first number:  20
Enter second number:  2512

Q6. Accept the marked price from the user and calculate the Net amount as (Marked Price – Discount) to pay according to following criteria:

Marked Price                  Discount
>10000                           20%
>7000 and <=10000                15%
<=7000                           10%

In [30]:
marked_price=float(input("enter your marked_price:"))

if marked_price>10000:
    discount_rate=0.20
    
elif marked_price>7000 and marked_price<10000:
    discount_rate=0.15
    
else:
    discount_rate=0.10
    
discount = marked_price * discount_rate 

net_amount = marked_price-discount

print(f"Marked Price: ₹{marked_price}")
print(f"Discount Applied: ₹{discount}")
print(f"Net Amount to Pay: ₹{net_amount}")

enter your marked_price: 12000

Marked Price: ₹12000.0
Discount Applied: ₹2400.0
Net Amount to Pay: ₹9600.0

Q7. Accept the marks of English, Math and Science, Social Studies Subject and display the stream allotted according to following:

All Subjects more than 80 marks —            Science Stream

English >80 and Math, Science above 50 —     Commerce Stream

English > 80 and social studies > 80 —       Humanities

In [7]:
english_marks= int(input("enter your marks in english"))
maths_marks=int(input("enter your marks in maths"))
science_marks=int(input("enter your marks in science"))
social_studies_marks=int(input("enter your marks in social studies"))
if english_marks>100 and maths_marks>100 and science_marks>100 and social_studies_marks>100:
    print("invalid input")
if english_marks>80 and maths_marks>80 and science_marks>80 and social_studies_marks>80:
    print ("stream alloted: science stream")

elif english_marks>80 and maths_marks>80 and science_marks>50:
    print ("stream alloted: commerce stream")

else:
    print("stream alloted: humanities stream")

enter your marks in english 104
enter your marks in maths 200
enter your marks in science 304
enter your marks in social studies 468

invalid input
stream alloted: science stream

Q8. Write a program to display "Hello" if a number entered by user is a multiple of five, otherwise print "Bye"?

In [45]:
user_number=int(input("enter user_number"))
if user_number %5==0:
    print("hello")
else:
    print("bye")

enter user_number 67

bye

Q9. Write a program to check whether the last digit of a number (entered by user) is divisible by 3 or not?

In [55]:
num=int(input("enter number"))
last_digit= num%10
if last_digit %3==0:
    print("last_digit is divisible by 3")
else:
    print("last_digit is not divisible bt 3")

enter number 66464776

last_digit is divisible by 3

Q10. Write a program to check whether a number entered is three-digit number or not?

In [63]:
num = int(input("enter a number"))
if 100 <= abs(num) <= 999:
    print("this is three digit number")
else:
    print("this is not three digit number")

enter a number 555

this is three digit number

In [56]:
a= int(input("enter your first number"))
b= int(input("enter your second number"))
c= int(input("enter your third number"))

if a>b and a<c:
    second_largest=a
elif b>c and b<a:
    second_largest=b
else:
    second_largest=c
print("second_largest number is :",second_largest)

enter your first number 40
enter your second number 60
enter your third number 30

second_largest number is : 30